@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
    font-weight: 400;
}



header,button,input,h2{
    font-family: "Raleway";
}

/*--page styling--*/

.page{
    background-color: white;
    display: flex;
    flex-direction: column;
}

/*---navigation bar---*/

.head{
    display: block;
    justify-content: space-between;
    padding: auto;
    width: 100%;

}

#nav-header {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: auto;
    height: 60px;
    overflow: hidden;

}

nav a{
    text-decoration: none;
    color: hsl(243, 87%, 12%);
    justify-content: space-around;
    padding-left: 1pc;
    
}

.logo{
    display: flex;
    justify-content: space-around;
    height: 30px;
    width: 30%;
    margin-left: -8pc;
  


}

.nav-left{
    width: 30%;
    height: 60px;
    font-weight: 400;
    display: flex;
    margin-top: 2pc;
    
    justify-content: space-around;
    text-decoration: none;
    color: hsl(0, 0%, 75%);

}

/*--body styling--*/
/*--first row--*/

.first{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 1.2pc;

}

.f-left{
    display: flex;
    width:40%;
    flex-direction: column;
    color: hsl(243, 87%, 12%);
    margin: 12px;
    padding: 12px;

}

.f-left h1{
    color: hsl(243, 87%, 12%);
    font-weight: 700;
    font-family: "Raleway";

}

.f-left p{
    width: 70%;
    
}

.f-left form{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.f-left form input{
    outline: none;
    margin-top: 1pc;
    width: 80%;
    height: 40px;
    border: 1px solid hsl(243, 87%, 12%);
    border-radius: 2px;
    padding: 4px;
    
}

.active:focus{
    border: rgb(180, 58, 78);
    outline-color: rgb(204, 101, 101);
    outline-style: solid;
}

.f-left form input :hover{
    cursor:pointer;
    
}
.f-left form input::placeholder{
    color: hsl(0, 33%, 6%);
    text-align: left;
    padding-left: 10px;
    
}




.f-left form button{
    background-color: hsl(224, 93%, 58%);
    
    color: #ffff;
    padding: 2px;
    margin: 4px;
    margin-left: 1pc;
    width: 50%;
    height: 40px;
    border-radius: 3px;
    border:none;
    margin-top:15px;

}
.f-left form button:hover{
    cursor: pointer;
}

.f-right{
    display: flex;
    width: 50%;
}

.f-right img{
    height: 85%;
    width: 70%;
}



/*---second row--*/

.second{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    justify-content: space-between;
    margin-top: 1.2pc;

}

.second img{
    height: fit-content;
}
.s-left{
    display: flex;
    width:45%;
    flex-direction: column;
    color: hsl(243, 87%, 12%);
    margin: 12px;
    padding: 12px;
}

.s-left h1{
    color: hsl(243, 87%, 12%);
    font-weight: 700;
    margin-bottom: 1.2pc;
    font-family: "Raleway";
}

.s-left p{
    font-size: small;
    margin-top: 10px;
    font-weight: 400;
}


.s-left a{
    margin-top: 1.2pc;
    color:hsl(170, 45%, 43%);
}

/*--testmonial--*/

.card{
    display: flex;
    flex-direction: column;
    background-color: #FFFF;
    border-radius: 5px;
    padding:10px;
    margin-top: 1.2pc;
    width: 65%;
    height: 50%;
    color:hsl(243, 87%, 12%);
    box-shadow: 0px 0px 10px rgb(190, 188, 184);
    justify-content: space-between;
}

.cardbody svg, .cardbody p{
    margin-top: 1.3pc;
    margin-left: 1.2pc;
    
}

.card-card{
    display: flex;
    flex-direction: row;
    margin-top: 1pc;
}

.card-img img{
    height: 55%;
    width: 55%;
    border-radius: 50%;
    margin-top: 1pc;
    margin-left: 1.2pc;
}

.card-left{
    margin-top: 1pc;
}
.card-left h3{
    font-weight: 700;
    margin-top: -0.1pc;
}
.card-left p{
    margin-top: 0.5pc;
}







.s-right{
    display: flex;
    flex-direction: row;
    width: 40%;
    align-items: center;

}

.s-right img{
    margin-top: 3pc;
    height: 75%;
    width: 80%;
}


/*--third row--*/

.third{
    display: flex;
    flex-direction: row;
    background-color:hsl(238, 22%, 44%);
    width: 100%;
    justify-content: space-between;
    margin-top: 1.2pc;
    color: #FFFF;
    
}

.t-left{
    display: flex;
    flex-direction: column;
    width: 40%;


}

.t-left h2{
    font-weight: 700;
    margin-top: 5pc;
    margin: 12px;
    padding: 12px;
    margin-bottom: 1pc;
    font-family: "Raleway";
}

.t-left p{
    margin: 12px;
    padding: 12px;
    font-size: small;
    margin-top: -1pc;
    width: 70%;
    font-size: 400;

}

.t-right{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.t-right form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.t-right form input{
    outline: none;
    margin-top: 1pc;
    width: 60%;
    height: 40px;
    border: 1px solid hsl(243, 87%, 12%);
    border-radius: 2px;
    padding: 4px;
    
}

.t-right form input :hover{
    cursor:pointer;
    
}
.t-right form input::placeholder{
    color: hsl(0, 33%, 6%);
    text-align: left;
    padding-left: 10px;
    
}




.t-right form button{
    background-color: hsl(224, 93%, 58%);
    
    color: #ffff;
    padding: 2px;
    margin: 4px;
    margin-left: -0.1pc;
    width: 45%;
    height: 40px;
    border-radius: 3px;
    border:none;
    margin-top:5px;
    cursor: pointer;

}


/*--footer section--*/

footer{
    background-color: hsl(243, 87%, 12%);
    color:#ffff;
    display: flex;
    flex-direction: column;
}

.footer{
    margin-top: 2pc;
    margin: 12px;
    padding: 12px;

}

.footlog{
    margin-top: 3pc;
    margin-bottom: 2pc;
}


.foot{
    display: flex;
    flex-direction: row;
    margin-top: 3pc;
    width: 100%;

}

.foot-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    
}
.foot-left p{
    margin-left: 0.5pc;
    margin-top: 0.4pc;
    font-size: small;
}

.foot-left svg{
    margin-top: 0.5pc;
}

.foot-mid{
    display: flex;
    flex-direction: row;
    width: 60%;
    font-size: small;
}

.fotmid{
    display: flex;
    flex-direction: column;
    margin-bottom: 1pc;
    width: 40%;
}

.foot-mid a{
    text-decoration: none;
    color: #FFFF;
}

.foot-mid a:hover{
    color: hsl(170, 45%, 43%) ;
}

.fotmidl{
    display: flex;
    flex-direction: column;
}

.footright{
    width: 40%;
}
.social{
    color: #FFF;
}






@media screen and (max-width:1280px) {

    
.logo{
    display: flex;
    justify-content: space-around;
    height: 30px;
    width: 30%;
    margin-left: -3pc;
  


}

.nav-left{
    width: 50%;
    height: 60px;
    font-weight: 400;
    display: flex;
    margin-top: 2pc;
    
    justify-content: space-around;
    text-decoration: none;
    color: hsl(0, 0%, 75%);

}

.foot-mid{
    display: flex;
    flex-direction: row;
    width: 80%;
    font-size: small;
}

.fotmid{
    display: flex;
    flex-direction: column;
    margin-bottom: 1pc;
    width: 40%;
}

.footright{
    width: 30%;
}

    
}

@media (min-width:912px)and(max-width:1368px){

    .logo{
        display: flex;
        justify-content: space-around;
        height: 30px;
        width: 30%;
        margin-left: -3pc;
      
    
    
    }
    
    .nav-left{
        width: 50%;
        height: 60px;
        font-weight: 400;
        display: flex;
        margin-top: 2pc;
        
        justify-content: space-around;
        text-decoration: none;
        color: hsl(0, 0%, 75%);
    
    }



    .f-left{
        font-size: 16px;
    }
    .f-left p{
        font-size: 16px;
    }


    .card{
        display: flex;
        flex-direction: column;
        background-color: #FFFF;
        border-radius: 5px;
        padding:10px;
        margin-top: 1.2pc;
        width: 75%;
        height: 45%;
        font-size: 8px;
        color:hsl(243, 87%, 12%);
        box-shadow: 0px 0px 10px rgb(190, 188, 184);
        justify-content: space-between;
    }

    
}



@media  (min-width:412px) and (max-width: 911px){

    .logo{
        display: flex;
        justify-content: space-around;
        height: 30px;
        width: 40%;
        margin-left: -0.5pc;
      
    
    
    }
    
    .nav-left{
        width: 60%;
        height: 60px;
        font-weight: 400;
        display: flex;
        margin-top: 2pc;
        
        justify-content: space-around;
        text-decoration: none;
        color: hsl(0, 0%, 75%);
    
    }

    .f-left{
        display: flex;
        width:60%;
        flex-direction: column;
        color: hsl(243, 87%, 12%);
        margin: 12px;
        padding: 12px;
        font-size: 12px;
    
    }

    .f-left p{
        font-size: 8px;
    }

    .f-left form{
        display: flex;
        flex-direction: row;
        width: 100%;
    }


    .f-left form input{
        outline: none;
        margin-top: 1pc;
        width: 70%;
        height: 30px;
        border: 1px solid hsl(243, 87%, 12%);
        border-radius: 2px;
        padding: 3px;
        
    }


    .f-left form button{
        background-color: hsl(224, 93%, 58%);
        
        color: #ffff;
        padding: 2px;
        margin: 4px;
        margin-left: 1pc;
        width: 40%;
        height: 28px;
        border-radius: 3px;
        border:none;
        margin-top:15px;
        font-size: 10px;
    
    }


    .f-right{
        display: flex;
        width: 40%;
    }
    
    .f-right img{
        margin-top: 4pc;
        height: 65%;
        width: 70%;
    }


    .s-left{
        display: flex;
        width:45%;
        flex-direction: column;
        color: hsl(243, 87%, 12%);
        margin: 12px;
        padding: 12px;
    }
    
    .s-left h1{
        color: hsl(243, 87%, 12%);
        font-weight: 700;
        margin-bottom: 1.2pc;
    }

    .card{
        display: flex;
        flex-direction: column;
        background-color: #FFFF;
        border-radius: 5px;
        padding:10px;
        margin-top: 1.2pc;
        width: 75%;
        height: 25%;
        font-size: 8px;
        color:hsl(243, 87%, 12%);
        box-shadow: 0px 0px 10px rgb(190, 188, 184);
        justify-content: space-between;
    }

    .card svg,.cardbody p{
        margin-top: 1pc;
        margin-left: 0.2pc;
        
    }

    .card p{
        font-size: 6px;
        width: 100%;
    }


    .card-card{
        display: flex;
        flex-direction: row;
        margin-top: 0.2pc;
    }
    
    .card-img img{
        height: 50%;
        width: 50%;
        border-radius: 50%;
        margin-top: 1pc;
        margin-left: 0.2pc;
    }
    
    .card-left{
        margin-top: 1pc;
    }
    .card-left h3{
        font-weight: 700;
        margin-top: -0.1pc;
        margin-left: -0.3pc;
    }
    .card-left p{
        margin-top: 0.5pc;
        margin-left: -0.3pc;
    }
    
    



    .s-right{
        display: flex;
        flex-direction: row;
        width: 40%;
        align-items: center;
    
    }
    
    .s-right img{
        margin-top: 3pc;
        height: 45%;
        width: 45%;
    }

    .third{
        display: flex;
        flex-direction: row;
        background-color:hsl(238, 22%, 44%);
        width: 100%;
        justify-content: space-between;
        margin-top: 1.2pc;
        color: #FFFF;
        
    }
    
    .t-left{
        display: flex;
        flex-direction: column;
        width: 50%;
    
    
    }

    .t-left p{
        width: 90%;
    }

    .t-right form input{
        outline: none;
        margin-top: 1pc;
        width: 80%;
        height: 40px;
        border: 1px solid hsl(243, 87%, 12%);
        border-radius: 2px;
        padding: 4px;
        
    }

    .t-right form button{
        background-color: hsl(224, 93%, 58%);
        
        color: #ffff;
        padding: 2px;
        margin: 4px;
        margin-left: -0.1pc;
        width: 75%;
        height: 40px;
        border-radius: 3px;
        border:none;
        margin-top:5px;
        cursor: pointer;
    
    }

    .foot-left{
        display: flex;
        flex-direction: column;
        width: 25%;
        
    }
    .foot-left p{
        margin-left: 2pc;
        margin-top: -1pc;
        font-size: small;
        width: 20%;
    }
    
    .foot-left svg{
        margin-top: 0.5pc;
    }
    
    .foot-mid{
        display: flex;
        flex-direction: row;
        width: 70%;
        font-size: small;
        margin-left: 3pc;
    }
    
    .fotmid{
        display: flex;
        flex-direction: column;
        margin-bottom: 1pc;
        width: 40%;
    }

    .footright{
        width: 30%;
    }
}
    


@media (min-width:375px) and (max-width:667px) {

    .logo{
        display: flex;
        justify-content: space-around;
        height: 30px;
        width: 30%;
        margin-left: 1pc;
      
    
    
    }
    
    .nav-left{
        width: 70%;
        height: 60px;
        font-weight: 400;
        display: flex;
        margin-top: 2pc;
        
        justify-content: space-around;
        text-decoration: none;
        color: hsl(0, 0%, 75%);
    
    }

    .first{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: space-between;
        margin-top: 1.2pc;
    
    }
    
    .f-left{
        display: flex;
        width:100%;
        flex-direction: column;
        color: hsl(243, 87%, 12%);
        margin: 4px;
        padding: 4px;
        align-items: center;
        
    
    }
    .f-left h1{
       width: 90%;
        text-align: center;
    }

    .f-left p{
        width: 85%;
        text-align: center;
    }

    .f-left form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .f-left form button{
        width: 80%;
        margin-left: 0.2pc;
    }
    

    .f-right{
        width: 100%;
        align-items: center;
    }
    .f-right img{
        margin-top: 4pc;
        height: 75%;
        width: 90%;
        margin-bottom: 2pc;
        margin-left: 1pc;
    }

    .second{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: space-between;
        margin-top: 1.2pc;
    
    }
    
    .s-left{
        display: flex;
        width:100%;
        flex-direction: column;
        color: hsl(243, 87%, 12%);
        margin: 4px;
        padding: 4px;
        align-items: center;
        
    
    }
    .s-left h1{
       width: 100%;
        text-align: center;
        margin-left: 0.2pc;
        font-size: 20px;
    }

    .s-left p{
        margin-left: 0.5pc;
    }
    .s-left .see{
        width: 85%;
        text-align: center;
    }

    .card p{
        text-align: left;
        width: 90%;
    }

    .cardbody svg{
        margin-top: 1.3pc;
        margin-left: 0.5pc;
        
    }

    .card-left h3{
        font-weight: 700;
        margin-top: -0.1pc;
        margin-left: -0.5pc;
    }
    .card-left p{
        margin-top: 0.5pc;
        margin-left: -0.5pc;
    }
    


    .s-right{
        width: 100%;
        align-items: center;
    }
    .s-right img{
        margin-top: 4pc;
        height: 75%;
        width: 90%;
        margin-bottom: 2pc;
        margin-left: 1pc;
    }


    .third{
        display: flex;
        flex-direction: column;
        background-color:hsl(238, 22%, 44%);
        width: 100%;
        justify-content: space-between;
        margin-top: 1.2pc;
        color: #FFFF;
        
    }
    
    .t-left{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    
    
    }

    .t-left p{
        text-align: center;
    }

    .t-right{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .t-right form input{
        display: flex;
        flex-direction: column;
        margin-left: 5pc;
        

    }

    .t-right form button{
        display: flex;
        flex-direction: column;
        margin-left: 5pc;
        margin-bottom: 3pc;
        width: 60%;
        align-items: center;
        padding: 3px;
        
        
    }
    

    .foot{
        display: flex;
        flex-direction: column;
        margin-top: 3pc;
        width: 100%;
    
    }

    .foot-left{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 2pc;
        
    }

    .foot-mid{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 2pc;
    }

    .footright{
        
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .footright svg{
        width: 40%;
        height: 40%;
        margin: 1pc 1pc;
    }



}

@media (min-width:320px) and (max-width:554px) {

    .logo{
        display: flex;
        justify-content: space-around;
        height: 30px;
        width: 30%;
        margin-left: 1pc;
      

    }

    .logo img{
        height: 80%;
        width: 80%;
    }
    
    .nav-left{
        width: 70%;
        height: 60px;
        font-weight: 400;
        display: flex;
        margin-top: 2pc;
        
        justify-content: space-around;
        text-decoration: none;
        color: hsl(0, 0%, 75%);
    
    }

    .first{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: space-between;
        margin-top: 1.2pc;
    
    }
    
    .f-left{
        display: flex;
        width:100%;
        flex-direction: column;
        color: hsl(243, 87%, 12%);
        margin: 4px;
        padding: 4px;
        align-items: center;
        
    
    }
    .f-left h1{
       width: 90%;
        text-align: center;
    }

    .f-left p{
        width: 85%;
        text-align: center;
    }

    .f-left form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .f-left form button{
        width: 80%;
        margin-left: 0.2pc;
    }
    

    .f-right{
        width: 100%;
        align-items: center;
    }
    .f-right img{
        margin-top: 4pc;
        height: 75%;
        width: 90%;
        margin-bottom: 2pc;
        margin-left: 1pc;
    }

    .second{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: space-between;
        margin-top: 1.2pc;
    
    }
    
    .s-left{
        display: flex;
        width:100%;
        flex-direction: column;
        color: hsl(243, 87%, 12%);
        margin: 4px;
        padding: 4px;
        align-items: center;
        
    
    }
    .s-left h1{
       width: 100%;
        text-align: center;
        margin-left: 0.2pc;
        font-size: 20px;
    }

    .s-left p{
        margin-left: 0.5pc;
    }
    .s-left .see{
        width: 85%;
        text-align: center;
    }

    .card p{
        text-align: left;
        width: 90%;
    }

    .cardbody svg{
        margin-top: 1.3pc;
        margin-left: 0.5pc;
        
    }

    .card-left h3{
        font-weight: 700;
        margin-top: -0.1pc;
        margin-left: -0.5pc;
    }
    .card-left p{
        margin-top: 0.5pc;
        margin-left: -0.5pc;
    }
    


    .s-right{
        width: 100%;
        align-items: center;
    }
    .s-right img{
        margin-top: 4pc;
        height: 75%;
        width: 90%;
        margin-bottom: 2pc;
        margin-left: 1pc;
    }


    .third{
        display: flex;
        flex-direction: column;
        background-color:hsl(238, 22%, 44%);
        width: 100%;
        justify-content: space-between;
        margin-top: 1.2pc;
        color: #FFFF;
        
    }
    
    .t-left{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    
    
    }

    .t-left p{
        text-align: center;
    }

    .t-right{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .t-right form input{
        display: flex;
        flex-direction: column;
        margin-left: 5pc;
        

    }

    .t-right form button{
        display: flex;
        flex-direction: column;
        margin-left: 5pc;
        margin-bottom: 3pc;
        width: 60%;
        align-items: center;
        padding: 3px;
        
        
    }
    

    .foot{
        display: flex;
        flex-direction: column;
        margin-top: 3pc;
        width: 100%;
    
    }

    .foot-left{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 2pc;
        
    }

    .foot-mid{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 2pc;
    }

    .footright{
        
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .footright svg{
        width: 40%;
        height: 40%;
        margin: 1pc 1pc;
        color: #FFF;
    }


}